
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap');

.inline-icon {
   vertical-align: bottom;
   font-size: 24px;
}

.page-heading {
  font-size: 24px;
  margin: auto;
  width: 50%;
  padding: 10px;
}

#brand-filter, #productdetails-filter, #inventory-filter {
  height: 36px;
}

table {
  word-wrap:break-word;
  table-layout: fixed;
}

.order-modal {

}

.col-12{
	justify-content: space-evenly;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;

}

.page-heading {
    font-size: 46px;
    margin: auto;
    padding-left: 20px;
    width: 50%;
    justify-content: center;
    color: gainsboro;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

.table-striped tbody tr:nth-of-type(odd) {
    font-family: 'Roboto', sans-serif;
    background-color: rgba(0,0,0,.05);
    font-weight: 600;
}

.form-inline {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
}

.form-inline .form-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 0 0 auto;
    padding: 1rem;
    flex: 0 0 auto;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 0;
}
.table thead th {
    vertical-align: bottom;
    color: aliceblue;
    font-size: 25px;
    border-bottom: 2px solid #dee2e6;
}

.table-striped tbody tr:nth-of-type(odd) {
    font-family: 'Roboto', sans-serif;
    background-color: rgba(0,0,0,.05);
    font-weight: 600;
    color: white;
    font-size: 20px;
}

.toastjs-container{position:absolute;position:fixed;bottom:30px;left:30px;width:calc(100% - 60px);max-width:400px;transform:translateX(-150%);transition:transform 1s;z-index:100}.toastjs-container[aria-hidden=false]{transform:translateX(0)}.toastjs{background:#fff;padding:10px 15px 0;border-left-style:solid;border-left-width:5px;border-radius:4px;box-shadow:0 2px 5px 0 rgba(0,0,0,.2)}.toastjs.default{border-left-color:#AAA}.toastjs.success{border-left-color:#2ECC40}.toastjs.warning{border-left-color:#FF851B}.toastjs.danger{border-left-color:#FF4136}.toastjs-btn{background:#f0f0f0;padding:5px 10px;border:0;border-radius:4px;font-family:'Source Sans Pro',sans-serif;font-size:14px;display:inline-block;margin-right:10px;margin-bottom:10px;cursor:pointer}.toastjs-btn--custom{background:#323232;color:#fff}.toastjs-btn:focus,.toastjs-btn:hover{outline:0;box-shadow:0 2px 5px 0 rgba(0,0,0,.2)}
